{:basics       {:name     "Dmitri Sotnikov"
                :label    "Software Developer"
                :picture  "profile.jpg"
                :email    "dmitri.sotnikov@atmodyne.ca"
                :phone    "(647) 985-3615"
                :website  "http://atmodyne.ca"
                :summary  "I'm a software developer with over a decade of experience in web application domain, and have extensive experience in all aspects of application development lifecycle. I have experience in doing requirements gathering, scope analysis, project planning, design, development, and operations. In my role as a technical team lead I have managed teams through design, development, and operations of large scale mission critical projects. I'm also the author of the Luminus framework, and an active member of Clojure open source community."
                :location {:address     "1210-45 Carlton street"
                           :postalCode  "M5B 2H9"
                           :city        "Toronto"
                           :countryCode "Canada"
                           :region      "Ontario"}
                :profiles [{:network  "LinkedIn"
                            :username "dmitrisotnikov"
                            :url      "https://www.linkedin.com/in/dmitrisotnikov/"}
                           {:network  "GitHub"
                            :username "yogthos"
                            :url      "https://github.com/yogthos/"}]}
 :work         [{:company    "Atmodyne"
                 :position   "CTO"
                 :website    "http://atmodyne.com"
                 :startDate  "2013-12-01"
                 :endDate    "2014-12-01"
                 :summary    "Software architect"}
                {:company    "University Health Network"
                 :position   "Technical Specialist"
                 :website    "http://uhn.ca"
                 :startDate  "2009-03-01"
                 :endDate    "2019-12-12"
                 :summary    "Software development team lead"
                 :highlights ["requirements gathering and project planning"
                              "architecture planning and system design"
                              "development of full-stack applications with Clojure"]}
                {:company    "Arius Software"
                 :position   "Software Developer"
                 :website    "http://uhn.ca"
                 :startDate  "2005-05-01"
                 :endDate    "2007-10-09"
                 :summary    "Software developer"
                 :highlights ["Java client/server application design and development"
                              "Financial systems application development"
                              "Financial system integration over TICS/FIX protocols"
                              "Internal tools development"]}
                {:company    "Bulletproof Software"
                 :position   "Software Developer"
                 :website    "http://uhn.ca"
                 :startDate  "2005-05-01"
                 :endDate    "2007-10-09"
                 :summary    "Software developer"
                 :highlights ["Java client/server application design and development"
                              "Law enforcement data consolidation and systems integration"
                              "SOAP Web Services development"
                              "JSP application development"]}]
 :education    [{:institution "University of New Brunswick"
                 :area        "Computer Science"
                 :studyType   "Master"
                 :startDate   "2004-09-01"
                 :endDate     "2006-06-01"}
                {:institution "University of New Brunswick"
                 :area        "Computer Science"
                 :studyType   "Bachelor"
                 :startDate   "2000-09-01"
                 :endDate     "2004-06-01"}]
 :publications [{:name        "Web Development With Clojure"
                 :publisher   "The Pragmatic Programmer"
                 :releaseDate "2016-07-15"
                 :website     "https://pragprog.com/book/dswdcloj2/web-development-with-clojure-second-edition"
                 :summary     "Build Bulletproof Web Apps with Less Code"}]}